<section class="doujin-news">
	<div class="loader">讀取場次資料中，請稍候...</div>
	<span class="date"></span>
	<span class="event"></span>
	<span class="number"></span>
	<span class="circle"></span>
	<p class="ps"></p> 
	<ul class="product">
	</ul>
</section>
